# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

########################################
# Printer Settings
########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0D0031000D51323532393433-if00

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 10000
max_z_velocity: 350
max_z_accel: 1000

########################################
# AWD Motors
########################################
# S1 - Motor A = X_0 (Back-Right, Lower Belt)
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop
endstop_pin: PC15
homing_retract_dist: 5
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 150
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_x]            ###CHECK FOR VALIDITY
cs_pin: PD6
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
#diag1_pin: ^!PC15
#driver_SGT: 1
run_current: 1.05
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false

# S2 - Motor B = Y_0 (Back-Left, Upper Belt)
[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop
endstop_pin: PF0
homing_retract_dist: 5
position_min: -10
position_endstop: 300
position_max: 300
homing_speed: 150
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]            ###CHECK FOR VALIDITY
cs_pin: PD5
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
#diag1_pin: ^!PF0
#driver_SGT: 1
run_current: 1.05
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false

# S3 - Motor C = Y_1 (Front-Right, Upper Belt)
[stepper_y1]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_y1]            ###CHECK FOR VALIDITY
cs_pin: PD4
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.05
sense_resistor: 0.022
stealthchop_threshold: 0

# S4 - Motor D = X_1 (Front-Left, Lower Belt)
[stepper_x1]
step_pin: PB9
dir_pin: !PB8
enable_pin: !PB7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_x1]
cs_pin: PD3
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.05
sense_resistor: 0.022
stealthchop_threshold: 0

########################################
# Z Motors
########################################
# S5 - Front Left = Motor Z0
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
position_max: 280
position_min: -5
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 0

[tmc5160 stepper_z]
cs_pin: PD2
interpolate: false
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 0

# S6 - Back Left = Motor Z1
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc5160 stepper_z1]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 0

# S7 - Back Right = Motor Z2
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc5160 stepper_z2]
cs_pin: PA9
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 0

# S8 - Front Right = Motor Z3
[stepper_z3]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

[tmc5160 stepper_z3]
cs_pin: PA10
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 0

########################################
# Heater Bed
########################################
[heater_bed]
heater_pin: PF6
sensor_pin: PB0 # TB
sensor_type: Generic 3950
control: pid
pid_kp: 56.056
pid_ki: 2.336
pid_kd: 336.338
min_temp: 0
max_temp: 130

########################################
# Fans
########################################
[controller_fan my_controller_fan]
pin: PA0
max_power: 0.20

kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.6

#####################################################################
# 	Chamber Lighting Neopixel LEDs
#####################################################################
[neopixel chamber_lighting]
pin: PF12
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 72
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1.0
#   See the "led" section for information on these parameters.

#####################################################################
# 	Chamber Thermistor/Nevermore
#####################################################################
[temperature_sensor chamber]
sensor_type:  Generic 3950
sensor_pin: PB1  

#Nevermore Filter Fan - FAN(#)
[output_pin nevermore]
pin: PA1
value: 0
shutdown_value: 0
